{% extends "base.html" %}
{% block main %}
<div class="row">
    <div class="span4">
        <div id="mycolor"></div>
        <input class="colorpicker" id="id_color_choice" name="color_choice" value="" type="hidden">

    </div>
    <div class="span4">
        <h3>This is just a toy demo - don't really expect any point to it</h3>
        There is no submit button - just enter a label, then click on the large swatch to change your color.
        Play with choosing whose colors to see in realtime below. As other users change their color, they will
        be updated in realtime.
    </div>
</div>
<hr>
<div class="row">
    <div class="span2">
        <label class="checkbox"><input id="current-user-filter" type="checkbox" checked="checked">Show only connected users</label>
    </div>
    <div class="span4">
        <div class="btn-group" data-toggle="buttons-radio">
            <button id="all-button" class="btn collection-button" value="all">All</button>
            <button class="btn collection-button" value="blue">Blue</button>
            <button class="btn collection-button" value="django">Django</button>
            <button class="btn collection-button" value="similar">Similar</button>
        </div>
    </div>

</div>
<hr>
<div class="row">
    <div class="span8">
        <ul id="color-choices-list" class="thumbnails">
        </ul >
    </div>
</div>
    {% endblock %}
    {% block extrascripts %}


    <script type="text/javascript" charset="utf-8">
        window.socket_endpoint = 'http://{{request.META.SERVER_NAME }}:{{ request.META.SERVER_PORT }}';
        </script>
        <script src="{{ STATIC_URL }}js/libs/underscore.js"></script>
        <script src="{{ STATIC_URL }}js/libs/backbone.js"></script>
        <script src="{{ STATIC_URL }}js/libs/socket.io.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/backbone.iobind.js"></script>
        <script src="{{ STATIC_URL }}js/libs/backbone.iosync.js"></script>
        <script src="{{ STATIC_URL }}js/libs/jquery.ba-throttle-debounce.min.js"></script>

        <script type="text/template" id="item-template">
            <div id="color-<%= id %>" class="color-choice">
                <div class="color-box" style="
                    background-color:<%= color_choice %>;
                    "></div>
                <%= name %>
            </div>
        </script>

        <script type="text/template" id="mychoice-template">
            <div class="my-color-entry">
                <label>Name or Label:</label><input id="mycolor-name" type="text" value="<%= name %>" name="name">
                <h5>Click below to change your color</h5><div id="mycolor-display" style="background-color:<%= color_choice %>;"></div>
            </div>
        </script>

        <script src="{{ STATIC_URL }}js/colorsapp2.js"></script>


        {% endblock %}
