{% extends "base.html" %}
{% block main %}
<h2>My Color (app 2)</h2>
<div>
    <div id="mycolor"></div>
    <input class="colorpicker" id="id_color_choice" name="color_choice" value="" type="hidden">
</div>
<ul id="color-choices-list">
</ul >

{% endblock %}
{% block extrascripts %}


<script type="text/javascript" charset="utf-8">
    window.socket_endpoint = 'http://{{request.META.SERVER_NAME }}:{{ request.META.SERVER_PORT }}';
</script>
<script src="{{ STATIC_URL }}js/libs/underscore.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.js"></script>
<script src="{{ STATIC_URL }}js/libs/socket.io.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.iobind.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.iosync.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.ba-throttle-debounce.min.js"></script>

<script type="text/template" id="item-template">
    <div id="color-<%= id %>">
      <%= name %>
      <div class="color-box" style="
          background-color:<%= color_choice %>;
            height: 20px;
            width: 50px;"></div>
        </div>
  </script>

  <script type="text/template" id="mychoice-template">
    <label>Name or Label:</label><input id="mycolor-name" type="text" value="<%= name %>" name="name">
    <div id="mycolor-display" style="background-color:<%= color_choice %>;
        height: 200px;
        width: 600px;"></div>
  </script>

<script src="{{ STATIC_URL }}js/colorsapp2.js"></script>


{% endblock %}
