{% extends "base.html" %}
{% block main %}
<div class="container" id="colorsapp">


    <!-- Example row of columns -->
    <div class="row">
        <div class="span8">
            <h2>Demo of integrating traditional and realtime views</h2>
        </div>
    </div>
    <div class="row spacer">
        <div class="span3">
            <a class="btn btn-block" href="/colors/">The standard Django View</a>
        </div>
        <div class="span4">
            This view uses a combination of generic list and form views, to handle 
            changes in the traditional request/response cycle.
        </div>
    </div>

    <div class="row spacer">
        <div class="span3">
            <a class="btn btn-block" href="/colors/app">Backbone.js with ajax</a>
        </div>
        <div class="span4">In this version, backbone is used to structure the
            app on the page, and changes are synced back to the server via ajax calls 
            to Django Rest Framework resources.
        </div>
    </div>

    <div class="row spacer">
        <div class="span3">
            <a class="btn btn-block" href="/colors/app2">Backbone.js with websockets and collections</a>
        </div>
        <div class="span4">The main demo. This uses the notion of a collection with
            predicates on the server, connected to socketio through redis-pubsub to provide
            a fully duplex and realtime web experience. Because the collections are integrated
            with Django's model signals, they propogate model changes made through other channels.
        </div>
    </div>

    <hr>
</div> <!-- /container -->
{% endblock %}
